.header {
  position: relative;
  background-color: $primary-color;
  z-index: 9999;
  .logo {
    width: 80px;
    margin: 1rem 0;
  }
  .nav {
    display: flex;
    @include mobile {
      position: absolute;
      flex-direction: column;
      background-color: #aaaaaa;
      left: 0;
      top: 100%;
      width: 100%;
      max-height: 0;
      transition: all .3s ease 0s;
      overflow: hidden;
      z-index: 9999;
    }
    &.active {
      @include mobile{
        max-height: 204px;
      }
    }
    li {
      @include mobile {
        margin-right: 0;
      }
    }
    a {
      display: block;
      padding: 25px 0;
      font-size: 1.250rem;
      color: $normal-color;
      background-color: transparent;
      @include mobile {
        border-top: 1px solid $normal-color;
        background-color: $primary-color;
        padding: 10px 0;
        text-align: center;
      }
      &:hover {
        color: $link-hover-color;
        @include mobile {
          background-color: $secondary-color;      
        }
      }
    }
  }
  .mobileMenu {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    @include mobile {
      display: block;
    }
    span {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 3px;
      background-color: #ffffff;
      transform: translate(-50%, -50%);
      transition: all .3s ease 0s;
        &::before {
          @include mobileMenu;
          top: 10px;
        }
        &::after {
          @include mobileMenu;
          bottom: 10px;
        }
    }
    &.active {
      span {
        background-color: transparent;
        &::before {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
          top: 50%;
          left: 50%;
          bottom: inherit;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
}

.footer {
  background-color: $primary-color;
  padding: 3rem 0 2rem;
  transition: all .3s ease 0s;
  @include ipad {
    padding: 3rem 0 2.5rem;
  }
  @include mobile {
    padding: 1.5rem 0 1.5rem;
  }
  a {
    &:hover {
      color: $link-hover-color;
    }
  }
  .footerUpper {
    ul.contactInfo {
      padding: 1.5rem  0 2rem;
      width: 100%;
      @include mobile {
        padding: 0  0 1.5rem;
      }
      li {
        line-height: 0;
      }
      a {
        position: relative;
        display: inline-flex;
        font-size: 2.25rem;
        @include mobile {
          font-size: 1rem;
        }
      }
      span {
        margin-right: 1rem;
        font-size: 2.250rem;
        @include mobile {
          font-size: 1.5rem;
          margin-right: 0.5rem;
        }
      }
    }
    ul.nav {
      @include mobile {
          display: none;
      }
    }
    .socailLink {
      li {
        margin-right: 3rem;
        transition: all .3s ease 0s;
        @include ipad {
          margin-right: 1rem;
        }
        @include mobile {
          margin-right: 0.5rem;
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          display: block;
          width: 48px;
          height: 48px;
          transition: all .3s ease 0s;
          &:hover {
            transform: scale(1.1);
          }
          @include ipad {
            width: 40px;
            height: 40px;
          }
          @include mobile {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
  .footerLower {
    border-top: 1px solid $normal-color;
    padding-top: 2rem;
    @include mobile {
      flex-direction: column;
      padding-top: 1rem;
    }
    p {
      color: $normal-color;
      @include mobile {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
    }
    ul {
      @include mobile {
        flex-direction: column;
      }
      li {
        &:not(:last-child) {
          margin-right: 4rem;
          @include mobile {
            margin: 0 0 .5rem 0;
          }
        }
        a {
          display: block;
          font-size: 0.875rem;
          transition: all .3s ease 0s;
          @include mobile {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.layout {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .85);
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 9990;
  @include customBreakPoint('min-width: 768px') {
    display: none;
  }
}