.d-flex {
  display: flex;
}

.d-none{
  display: none;
}

.d-block {
  display: block;
}

.flex-direction-column { 
  flex-direction: column;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.success-color {
  color: $success-color;
}

.normal-color {
  color: $normal-color;
}

.dark-color {
  color: $dark-color;
}

.bg-primary-color{
  background-color: $bg-primary-color;
}

.bg-secondary-color{
  background-color: $secondary-color;
}

.fw-block {
  font-weight: 900;
}

.fw-bold {
  font-weight: 700;
}

.fw-medium {
  font-weight: 500;
}

.fs-italic{
  font-style: italic;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ms-auto {
  margin-left: auto;
}

.me-auto {
  margin-right: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.showOnDesktop {
  @include ipad {
    display: none;
  }
}

.showOnMobile {
  display: none;
  @include ipad {
    display: inline-block;
  }
}

.col-4 {
  width: calc(100% + 24px);
  @include mobile {
    width: 100%;
  }
  & > * {
    margin-right: 24px;
    width: calc((100% - 96px) / 4);
    @include ipad {
      width: calc((100% - 48px) / 2);
    }
    @include mobile {
      width: 100%;
      margin-right: 0;
    }
  }
}

.col-3 {
  width: calc(100% + 24px);
  @include mobile {
    width: 100%;
  }
  & > * {
    margin-right: 24px;
    width: calc((100% - 72px) / 3);
    @include ipad {
      width: calc((100% - 48px) / 2);
    }
    @include mobile {
      width: 100%;
      margin-right: 0;
    }
  }
}