$space: 8px;
$primary-color: #AA0601;
$secondary-color: #650300;
$success-color: #707070;
$normal-color: #ffffff;
$dark-color: #000000;
$link-hover-color: #e3e71b;
$bg-primary-color: #FBF2F2;

@each $abbr, $name in ("t": "top", "r": "right", "b": "bottom", "l": "left") {
  @for $i from 1 through 20 {
      .m#{$abbr}-#{$i} {
          margin-#{$name}: $space * $i;
      }

      .p#{$abbr}-#{$i} {
        padding-#{$name}: $space * $i;
      }
  }
}

@for $i from 1 through 10 {
  .opacity-#{$i} {
    opacity: 10% * $i;
  }
}