.card {
  @include ipad {
    // margin-bottom: 2.5rem;
  }
  @include mobile {
    // margin-bottom: 1.5rem;
  }
  .cardBody {
    .type {
      font-size: 1.5rem;
      color: $dark-color;
    }
    .price {
      font-size: 1.5rem;
      font-weight: 500;
      color: $primary-color;
    }
  }
  .colorBox {
    display: block;
    width: 24px;
    height: 24px;
    transform: scale(1);
    transition: all .3s ease 0s;
    &:hover {
      transform: scale(1.15);
      opacity: .85;
    }
    &.color-1 {
      background-color: #5F3E2D;
    }
    &.color-2 {
      background-color: #B75929;
    }
  }
}